.App {
  text-align: center;

}

.answers {
  padding: 10px;
  border-radius: 8px;
  width: 180px;
  background-color: cornflowerblue;
  color: white;
  margin-left: 10px;


}

#prev {
  background-color: red;
  color: white;
  padding: 10px;
  width: 70px;
  border-radius: 8px;
  margin-right: 20px;
}

#next {
  background-color: green;
  padding: 10px;
  width: 70px;
  border-radius: 8px;
  color: white;
  margin-right: 20px;

}

#reset {
  background-color: slategrey;
  color: white;
  padding: 10px;
  width: 70px;
  border-radius: 8px;

}
#start{
  width:130px;
  background-color: green;
  padding: 20px;
  color: white;
  border-radius: 10px;
}
.correct-answer{
  background-color: green;
  color: white;
}
.wrong-answer{
  background-color:red;
  color: white;
}